@charset "utf-8";
body, label, input, select, button, textarea, pre{font-family:Arial, Simhei, '黑体', sans-serif !important;font-size: 15px;}
div, section, h1, h2, h3, h4, h5, h6, ul, dl, ol, p, strong, span, label, li, dt, dd{margin:0;padding:0}
ul, ol, dl{list-style-type:none}
/* Margin & Padding */
.mt0{margin-top: 0 !important;}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mb0{margin-bottom:0px !important}
.mb10{margin-bottom:10px !important}
.mb20{margin-bottom:20px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}
.mb54{margin-bottom:54px !important}
.ml10{margin-left:10px !important}
.ml20{margin-left:20px !important}
.ml30{margin-left:30px !important}
.ml40{margin-left:40px !important}
.ml50{margin-left:50px !important}
.mr10{margin-right:10px !important}
.mr20{margin-right:20px !important}
.mr30{margin-right:30px !important}
.mr40{margin-right:40px !important}
.mr50{margin-right:50px !important}
.padding0{padding: 0 !important;}

/*font-size*/
.font-size-18 {font-size: 18px !important;}
.font-size-16 {font-size: 16px !important;}
.font-size-14 {font-size: 14px !important;}
.font-size-12 {font-size: 12px !important;}
/* Icon */
.icon{display:inline-block;background:no-repeat center top;background-size:100% 100%;vertical-align:middle}
.icon-sms{width:32px;height:28px;background-image:url(../img/icon-sms.png)}
.icon-wechat{width:32px;height:26px;background-image:url(../img/icon-wechat.png)}
.icon-pay-withhold{width:25px;height:25px;background-image:url(../img/icon-pay-withhold.png)}
.icon-pay-pos{width:25px;height:25px;background-image:url(../img/icon-pay-pos.png)}
.icon-pay-union{width:28px;height:22px;background-image:url(../img/icon-pay-union.png)}
.icon-pay-wechat{width:25px;height:25px;background-image:url(../img/icon-pay-wechat.png)}
.icon-pay-check {width:25px;height:25px;background-image:url(../img/icon-pay-check.png)}
/* mui */
.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{right:auto}
.mui-btn-white{color: #fff;}
.mui-btn-bg-white {background-color: #fff !important;padding:8px 0;border-radius: 6px;font-size: 15px;border: none;}
.mui-align-center{text-align:center}
.mui-input-row label{color:#333}
.mui-input-row input{text-align:right;color: #333;}
.mui-input-row.mui-row-long label{width:65%}
.mui-input-row.mui-row-long input, .mui-input-row.mui-row-long .mui-input-value{width:35%}
.mui-input-row.mui-row-auto label, .mui-input-row.mui-row-auto .mui-input-value{width:auto}
.mui-input-row.mui-row-auto input{width:auto;max-width:200px}
.mui-input-row .mui-input-title{color:#333;font-size:18px}
.mui-input-row:last-child:after{display:none}
.mui-input-row-auto{height:auto !important}
.mui-input-row-auto .mui-input-value{height:auto;line-height:24px;padding:8px 15px 8px 0}
.mui-input-value{float:right;width:65%;height:40px;line-height:40px;padding-right:15px;font-size:100%;text-align:right;color:#333}
.mui-input-more{padding:0 15px;text-align:center;line-height:40px;font-size:18px;cursor:pointer}
.mui-input-text{padding:0 15px;line-height:40px;color:#333;font-size:17px}
.mui-input-text em{font-style:normal;margin-left:10px;font-size:14px;color:#999}
.mui-selects{position:relative;padding-right:27px;color:#333;cursor:pointer}
.mui-selects:after{position:absolute;top:0;width:12px;height:100%;content:'';background:url(../img/icon-select-arrow.png) no-repeat center center;background-size:10px auto}

.mui-selects-down{position:relative;padding-right:15px;color:#333;cursor:pointer}
.mui-selects-down:after{position:absolute;right:2px;top:0;width:12px;height:100%;content:'';background:url(../img/icon-select-arrow.png) no-repeat center center;background-size:10px auto;-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}

.mui-out-text{padding:10px 15px;line-height:24px;font-size:14px}
.mui-text-group{position:relative;background-color:#fff}
.mui-text-group:after{position:absolute;bottom:0;right:0;left:0;height:1px;content:'';-webkit-transform:scaleY(.5);transform:scaleY(.5);background-color:#c8c7cc}
.mui-text-group:after {width: 92%;left: 4%;}
.after_none:after {display: none;}
.mui-text-row{position:relative;min-height:50px;box-sizing:border-box;padding:16px 15px;line-height:24px}
.mui-text-row:after{position:absolute;bottom:0;right:0;left:0;height:1px;content:'';-webkit-transform:scaleY(.5);transform:scaleY(.5);background-color:#c8c7cc}
.mui-text-row:after {width: 92%;left: 4%;}
.mui-text-row:last-child:after{display:none}
.mui-text-row label{color:#333}
.mui-text-row p{font-size:14px;line-height:24px;color:#5a5a5a;text-align:justify}
.mui-table-border{border:1px solid #dfdfdf}
.mui-table-header{background-color:#dcdcdc}
.mui-table-row{display:table-row}
.mui-table-cell{font-size:15px;padding:2px 0;vertical-align:top;color:#8c8c8c;width: 8em;}
.mui-table-cell .mui-selects{color:#888;margin-right:-15px}
.mui-table-header .mui-table-cell{padding-top:8px;padding-bottom:8px;color:#5a5a5a}
.mui-table-border .mui-table-cell{padding-left:10px}
.mui-table-border .mui-table-cell:last-child{padding-right:10px}
.mui-height-auto{height:auto !important;padding:15px 15px !important}
.mui-table-view-cell span{float:right;color:#A9A9A9}
.mui-table-view-cell a{line-height:28px}
.mui-table-view-cell a:after{right:0;color:#7e7e7e;font-weight: bold;}
.mui-font-x1{font-size:16px}
.mui-fontWeight-blod {font-weight: bold;}
.mui-color-gray{color:#A9A9A9 !important;}
.mui-color-black{color:#000 !important;}
.mui-color-8c8c8c {color:#8C8C8C !important;}
.mui-color-warning{color:#f0ad4e !important;}
.mui-color-333 {color: #333 !important;}
.mui-color-555 {color: #555 !important;}
.mui-color-565656 {color:#565656 !important;}
.mui-color-005bac{color: #005bac !important;}
.mui-color-ff7e00:before {color: #ff7e00 !important;}
.mui-color-ff7e00 {color: #ff7e00 !important;}
.mui-color-e7a23d {color:#e7a23d !important;}
.mui-color-e7a23d:before {color: #e7a23d !important;}
.mui-color-070707 {color:#070707 !important;}
.mui-color-92b65e {color:#92b65e}
.mui-color-92b65e:before {color:#92b65e}
.mui-camera-right{position: absolute;top:55px;right:15px;z-index:0;}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color:#6eb92b}
.mui-btn-blue{padding:8px 0;background-color:#005BAC;border-color:#005BAC;border-radius: 6px;font-size: 15px;;}
.conventionBox .mui-placeholder {text-align: left;padding-left: 6px;}
.mui-popup{position:fixed}
.mui-popup-title{margin-bottom:5px}
.mui-popup-title+.mui-popup-text{margin:0}
.mui-popup-title+.mui-popup-text p{font-size:14px;color:#333;padding:5px 0;line-height:28px;height: 66px;text-align: left;border-bottom: 1px solid #f7f7f7;border-top: 1px solid #f7f7f7;}
.mui-popup-input input{height:38px;font-size:16px;border-radius:5px;padding:0 10px}
.mui-popup-inner:after{display:none}
.mui-popup-buttons{position:static;padding:0 15px 15px;height:57px;background-color:rgba(255,255,255,.95)}
.mui-popup-buttons .mui-popup-button{background-color:#e83344;color:#fff;border-radius:6px !important;font-weight:lighter;height:42px;line-height:42px}
.mui-popup-buttons .mui-popup-button ~ .mui-popup-button{position:absolute;right:6px;top:6px;padding:0;width:24px;height:24px;background:none;color:#000;line-height:24px;font-size:20px}
.width-auto {width: auto !important;}
.mui-icon-home{width:44px;height:44px;background:url(../img/icon-home.png) no-repeat center center;background-size:24px}
.mui-icon-home:before{display:none}

.mui-icon-camera{width:31px;height:24px;background:url(../img/icon-camera.png) no-repeat center center;background-size:100%}
.mui-icon-camera:before{display:none}

.mui-table-view-cell>a:not(.mui-btn){color:#8c8c8c;}

.mui-icon-calendar{width:44px;height:44px;background:url(../img/icon-calendar.png) no-repeat center center;background-size:24px}
.mui-icon-calendar:before{display:none}

.mui-float-left{float:left}
.mui-float-right{float:right}
/*.mui-input-group .mui-input-row{line-height: 45.5px;height: 45.5px;}
.mui-input-group .mui-input-row input{line-height: 45.5px;height: 45.5px;}*/
.mui-input-group .mui-input-row:after {width: 92%;left:4%;}
.mui-table-view-cell:after {width: 92%;left:4%;}

.mui-input-group:before {background-color: #FFF}
.mui-input-group:after {background-color: #FFF}
.sxStyle:before {background-color: #c8c7cc !important;width: 92%;left: 4%;}


/* btn-out-ul */
.btn-out-ul{padding:0 0px;}
.btn-out-ul .mui-btn{display: block;margin: 2px auto;}
.btn-out-ul .mui-btn-white{color:#333;border-color:#fff;padding: 8px 0;border-radius: 6px;font-size: 15px;}
.btn-out-ul .mui-btn-white:enabled:active, .btn-out-ul .mui-btn-white.mui-active:enabled{background-color:#f7f7f7;color:#333;border-color:#f7f7f7}


/*********************************************************/
/* header */
#header{background-color:#fff;display: none !important;}
#header h1{color:#333}
#header .mui-pull-left, #header .mui-pull-right{color:#333;}
#header .mui-pull-left {font-size: 14px;}
#header a{color: #333}
#header p {float: right;color: #333;line-height: 44px;}

/* title */
.title{font-size:18px;padding:0 15px;line-height:36px;margin-top:5px;font-weight:lighter;color:#5a5a5a}


.register{background: url(../img/bg-img.png) no-repeat top center;width: 100%;min-height: 100vh;background-size: 100% 100%;}


.msg-input{position: absolute;top: 160px;width: 98%;left: 1%;background-color: initial;}
.msg-input input{border: none;text-align: left;padding-left:8%;}
.msg-input >p{color: black;line-height: 44px;}
.mui-input-row .mui-input-clear~.mui-icon-clear, .mui-input-row .mui-input-password~.mui-icon-eye, .mui-input-row .mui-input-speech~.mui-icon-speech{top: 13px;right: 36px;text-align: center;}
.mui-input-group:before,.mui-input-group:after{background-color: initial;}
.input-checkNum input{float: left;}
.input-checkNum a{line-height: 42px;padding-right: 26px}
.icon-alert{line-height: 40px;height: 40px;padding-left: 8%;}
.icon-alert i{background: url(../img/icon-alert.png) no-repeat center center;width:14px;height: 14px;background-size: 100%;display: inline-block;vertical-align: middle}
.icon-alert p{display: inline-block;vertical-align: middle;color: #e73344;font-size: 12px;margin-left: 10px;}
.finish-ok{font-size: 12px;margin: 18px 0 24px;color: #7C7C7C}
.finish-ok label{font-size: 12px;}
/*.finish-ok input{display: inline-block;vertical-align: middle;margin-right: 5px;}
.finish-ok p{display: inline-block;vertical-align: middle;width: 80%;padding-left: 20px;}*/
.down-link{margin: 12px 0 0;}

/*.icon-dCode{background: url(../img/icon-dCode.png) no-repeat;width: 28px;height: 28px;display: inline-block;vertical-align: middle;background-size: 100%;}*/
.link-tip{display: inline-block;vertical-align: middle;}
.link-tip a{padding-left: 5px;font-size: 13px;}
.link-tip >p{font-size: 13px;text-align: left;color: #7c7c7c;}
.mui-input-group .mui-input-row.icon-alert:after{display: none;}
.register-content .mui-input-group .mui-input-row:after{background-color: #f2f2f2;height: 1px;}
.input-checkNum:before{content:'';width:1px;height:49px;background-color: #f2f2f2;position: absolute;margin-left: -20px;margin-top: -6px;}
.invite-tip{font-size: 11px;color: #666;text-align: center;height: 45px;}

.invite .register-content img{margin-top: 0;}
.invite .msg-input{top: 112px;}
.select-city{text-align: left;color: #333;font-size: 15px;line-height: 40px;}
.select-city-arrow{position: absolute;top: 11px;right: 0;}


.secure-tip{font-size: 12px;text-align: left;margin-top: 18px;margin-bottom: 18px;padding: 0 16px;}
.secure-tip label{font-size: 13px;padding: 5px;display: inline-block;vertical-align: middle;}
.secure-tip input{display: inline-block;vertical-align: middle;margin-right: 5px;}


/*太享贷*/
/*.taixiangdai .mui-input-group:before{background-color: #c8c7cc;}*/
.top-logo{text-align: center;height: 100px;}
.top-logo img{width:75%;}

/*.taixiangdai .top-logo img{width: ;}*/
.taixiangdai .top-logo img{margin-top: 20px;}
.taixiangdai-tip{line-height: 40px;background-color: #fff;color: #333;padding-left: 16px;font-size: 16px;position: relative;}
.select-sex{padding-right: 16px;}
.select-sex input[type=checkbox]{float: left;line-height: 44px;margin-right: 9px;margin-left:18px;}
.select-sex font{float: left;}

.select-sex label{float: left;margin-top: 9px;}

.taixiangdai{background: url(../img/bg-img.png) no-repeat top center;width: 100%;background-size: 100%;min-height: 100vh;}


.alter-city a{color: #8f8f94;padding: 0 5px;font-size: 15px;}
.alter-city {line-height:44px;float: right;padding-right: 12px;}
/*.select-jobTime{padding-right: 16px;}
.select-jobTime input[type=checkbox]{float: left;line-height: 49px;margin-top: 13px;}
.select-jobTime font{float: left;margin-top: 9px;}*/


.select-jobTime{padding-right: 16px;line-height: 45.5px;color: #333;}
.mui-row-Dline{height: 80px !important;}
.mui-row-Dline input[type=checkbox]{margin-right: 5px;}
.gap{width:100%;height: 15px;background-color: #F2F2F2;}

.bgFFF{background-color: #fff;}
/*消息详情*/

.msg-gap{width: 100%;height: 9px;background-color: #F2F2F2;}
.msg-content{background-color: #fff;padding: 16px;font-size: 13px;color: #666;line-height: 1.7;}
.msg-content .msg-tip p{font-size: 18px;color: #333;text-align: center;background-color: #fff;padding: 10px;width: 128px;margin: 0 auto;display: block;position: relative;}

/*.msg-tip i:after{position: absolute;content: '';width: 100%;height: 2px;background-color: #F2F2F2;left: 0;}*/
.txt-content{border-top: solid 1px #ccc;border-bottom: solid 1px #ccc;padding: 22px 0;margin-top: -25px;color: #333;font-size: 15px;line-height: 1.7;}
.txt-content ul{margin: 5px 0 5px 15px;}
.txt-content ul li{list-style-type:initial !important;}



.checkbox input[type=checkbox]{left:5px;top:4px}
.checkbox input[type=checkbox]:before{content:'';line-height:15px;font-weight:bold;display:inline-block;width:12px;height:12px;border:2px solid #005BAC;font-size: 16px;background-color: #fff;position: absolute}
.checkbox input[type=checkbox]:checked:before{content: '\e472';background-color: #005BAC;border: 2px solid #005BAC;color: #fff;font-size: 14px;
	position: absolute;}

.taixiangdai .checkbox input:before{margin:15px 0;}
.taixiangdai .mui-input-row label{line-height: 44px;padding: 0 15px;}
.taixiangdai .taixiangdai-tip{border-left: solid 2px #0089CF;margin: 12px 0;line-height: initial;}
/*.checkbox input:checked:before{content:'\2714';background-color: #6eb92b;border: 2px solid #6eb92b;color: #fff;}*/



.invite-logo{height: 100px;text-align: center;}
.invite-logo img{width: 80%;}


.bottom-tip{text-align: center;position: fixed;bottom:21px;width: 100%;}
.bottom-tip p{text-align: center;color: #666;font-size: 13px;}

.alert-tip{padding-left: 0;}
.alert-tip img{width:14px;display:inline-block;vertical-align: middle;margin-right:5px;}
.alert-tip input{width:90%;padding-left: 0;display: inline-block;font-size: 11px;text-overflow: ellipsis;overflow: hidden;}
.msg-input-style02 .msg-input input{padding-left: 0;padding-right: 0;}

.msg-input-style02 .msg-input{top: 100px;}

.msg-input-style02 .mui-input-group .mui-input-row:after{width: 100%;left: 0;}
.msg-input-style02 .input-checkNum a{padding-right: 0;}
.msg-input-style02 .select-city{padding-left: 0;}

.taixiangdai-content{margin: 0 5%;padding-top: 6px;}
.taixiangdai >img{width:92%;left: 4%;position: absolute;}

.bottom-logo{text-align: center;}
.bottom-logo img{width:initial;height:35px;margin: 16px auto;display: block;}

.mui-bar-nav{box-shadow: 0 0 0;}
.icon-dCode{background: url(../img/D-code.png) no-repeat center center;width: 40px;height: 40px;background-size: 100%;display: inline-block;vertical-align: middle;margin-right: 18px;}
.invite-form{padding: 0 36px !important;}

.select-style{padding-right:38px;color: #666;}
.select-style:after{content: ' ';width: 11px;height: 22px;position: absolute;margin-top: 11px;right: 16px;background:url(../img/icon-arrow-right.png) no-repeat center center;}

/*.index-add{background: url(../img/input-bg2.png) no-repeat center center;width: 80%;margin-left: 10%;}*/
.index-add p{color:#333;padding: 0 10%;font-size: 12px;text-align: left;text-indent: 20px;}
.index-add-content-img{position: absolute;left:21px;right: 21px;margin-top: 14px;}
.index-add-content-img img{width: 100%;}
.index-add{position: absolute;z-index: 2;left: 10%;right: 10%;margin-top: 34px;}
.index-add p{width: 100%;}


.index-add-img{width: 80%;position: relative;}
.index-add-main{background:url(../img/bg-img.png) no-repeat top center;width: 100%;height: 100vh;position: absolute;top: 0;background-size: 100%;text-align: center;}

.index-add-main .btn-out-ul{width: 80%;margin-left: 10%;margin-top: 5%;}

.txt-content .title1{color:black;line-height: 50px;font-size: 18px;}
.txt-content .title2{color:black;line-height: 24px;font-size: 16px;}
.txt-content .title3{color:black;line-height: 24px;font-size: 16px;}



.bottom-img{width: 100%;margin-top: 20px;padding-bottom: 5%}
.bottom-img img{display: inline-block;vertical-align: middle;height: 30px;}

.bottom-img{position: absolute;bottom: 10px;width: 100%;}
.bottom-img img{display: inline-block;vertical-align: middle;height: 40px;}

.bottom-img img:first-child{float: left;margin-left: 20px;}
.bottom-img img:last-child{float: right;margin-right: 20px;}


.bottom-img02{width: 100%;margin-top: 22%;padding-bottom: 5%}
.bottom-img02 img{display: inline-block;vertical-align: middle;height: 30px;}
.bottom-img02 img:first-child{float: left;}
.bottom-img02 img:last-child{float: right;}


.select-alter-radio input[type=radio]:before{
	content: '';
	position: absolute;
	width: 15px;height: 15px;
	border: solid #005BAC 1px;
	margin-top: 10px;
}
.select-alter-radio input[type=radio]:checked:before{
	content: '\e472';
	border: solid #005BAC 1px;
	background-color: #005BAC;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
}
.select-alter-radio .mui-radio input[type=radio]{position: relative;float: left}
.select-alter-radio .mui-radio font{float: left;}


.new-tip{text-align: left;font-size: 11px;border-bottom: solid 1px #C8C7CC;margin: 25px -6% 5px;padding: 0 6%;}
.select-alter-radio .mui-radio font{line-height: 44px;}

.top-logo-new{width: 80%;display: block;margin: 0 auto;}

.msg-input-bg{position: absolute;width: 96%;left: 2%;top: 106px;}

.msg-input-new{position: relative;z-index: 2;background-color: initial;}
.msg-input-new input{text-align: left;padding-left: 0;}
.invite-form-new{margin: 0 36px !important;}
.mui-checkbox{text-align: left;}
.mui-checkbox label{font-size: 12px;width: initial;padding: 0;margin: 0;}
.mui-checkbox a{font-size: 12px;width: initial;padding: 0;margin: 0;}
.checkbox input[type=checkbox]{position: relative;display: inline-block;vertical-align:top;}


.mui-checkbox input{display: inline-block;vertical-align: middle;}
.mui-checkbox p{display: inline-block;vertical-align: middle;width:89%}


.what-chuangke{text-align: left;margin-bottom: 20px;}
.what-chuangke h1{font-size: 17px;padding-left: 8px;margin-left: 10px;border-left: solid 3px #005BAC;margin-bottom: 14px;}
.what-chuangke p{padding: 2px 21px;color: #005BAC;}
.finished-profit p i{margin-right: 10px;}
.finished-profit p{color: black;padding: 0 21px;text-align: left;line-height: 26px;font-size: 14px;}
.icon-coin{background: url(../img/coin.png) no-repeat center center;width: 16px;height: 16px;background-size: 100%;}




@media only screen and (max-width:320px ) {
	.mui-checkbox p{width:85%}
}

